<div class="genres">
  <div class="mat-card-wrapper">
    <a routerLink="rock">
      <mat-card class="genre-card">
        <mat-card-title>rock</mat-card-title>
  
        <img src="https://lastfm.freetls.fastly.net/i/u/avatar300s/b1f012488af8d7df05af3ae2d1006681.webp"
          alt="Image" class="card-image">
      </mat-card>
    </a>
  
    <a routerLink="rnb">
      <mat-card class="genre-card">
        <mat-card-title>rnb</mat-card-title>
  
        <img src="https://lastfm.freetls.fastly.net/i/u/avatar300s/1142b199f4d20a145f468ad1198ca90c.webp"
          alt="Image" class="card-image">
      </mat-card>
    </a>
  
    <a routerLink="dance">
      <mat-card class="genre-card">
        <mat-card-title>dance</mat-card-title>
  
        <img src="https://lastfm.freetls.fastly.net/i/u/avatar300s/9fd718d4c80e4ac89107c6c0bb908440.webp"
          alt="Image" class="card-image">
      </mat-card>
    </a>
  
    <a routerLink="acoustic">
      <mat-card class="genre-card">
        <mat-card-title>acoustic</mat-card-title>
  
        <img src="https://lastfm.freetls.fastly.net/i/u/avatar300s/f5c67f5941e78a99370f794d3b0970b8.webp"
          alt="Image" class="card-image">
      </mat-card>
    </a>
  
    <a routerLink="jazz">
      <mat-card class="genre-card">
        <mat-card-title>jazz</mat-card-title>
  
        <img src="https://lastfm.freetls.fastly.net/i/u/avatar300s/3065f604498e4b2e8e1ec45ca4e8bc4d.webp"
          alt="Image" class="card-image">
      </mat-card>
    </a>
  
    <a routerLink="indie">
      <mat-card class="genre-card">
        <mat-card-title>indie</mat-card-title>
  
        <img src="https://lastfm.freetls.fastly.net/i/u/avatar300s/a96699071d4a014972780dfeb319c680.webp"
          alt="Image" class="card-image">
      </mat-card>
    </a>
  
  </div>
</div>